{% extends 'layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Shoefony, l'univers du sport</h1>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="{{ asset('img/shop.jpg') }}" alt="Shoe-fony boutique"/>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span
                            class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span
                            class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
                <p class="lead">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="{{ asset('img/team.jpg') }}" alt="Shoe-fony équipe"/>
            </div>
        </div>

        <hr/>

    </div>
{% endblock %}
